<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<h1>Notes</h1>

<table>
    <thread>
        <th>Title</th>
        <th>Created</th>
        <th>Modified</th>
    </thread>
    <tbody>
    <tr th:if="${notes.empty}">
        <td colspan="2">You don't have any notes</td>
    </tr>
    <tr th:each="note: ${notes}">
        <td><span th:text="${note.getTitle()}">Title</span></td>
        <td><span th:text="${note.getCreated()}">Created</span></td>
        <td><span th:text="${note.getModified()}">Modified</span></td>
    </tr>
    </tbody>
</table>

</body>
</html>